/*
Green QSS
*/
QWidget{
    background-color: #3CB371;
}
QPushButton{
    background-color: #1E90FF;
    color: white;
    font-size: 18px;

}
QPushButton:hover{
    background-color: #00BFFF;
    color: white;
    font-size: 18px;
}
QLineEdit{
    background-color: #E6E6FA;
    margin-bottom: 5px;
    text-align: right;
    color: black;
}
